# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ
out/
.idea/
generated/
*.iml

# Gradle
.gradle/
.m2/
build/

# Misc project things
setup/
lib/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
